<section class="navigation">
    <div class="nav-container">

        <nav>
            
            <div class="nav-screen-full">
                <ul class="nav-list">
                    <li *ngFor="let item of itemsNav">
                        <img src="./../../../assets/images/login/01.PNG" alt="" *ngIf="item.img != null">
                        <a href="#!"> {{item.nameItem}}</a>
                    </li>
                </ul>
                <div *ngIf="switch">
                    <span class="log-label">Log in</span>
                </div>
                <div *ngIf="!switch">
                    <span class="log-label" style="margin-right: 10px;">
                    <input type="text" placeholder="search">
                </span>
                    <span class="log-label">
                        3rbiaa Account
                    </span>
                </div>
            </div>
        </nav>
    </div>
</section>