nav {
    border-bottom: 1px solid black;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
    
}

ul li {
    margin: 0px 30px;
    display: flex;
    align-items: center;
}

ul li img {
   width: 40px;
}

ul li a {
    text-decoration: none;
    color: black;
}

.nav-screen-full {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
}
.log-label {
    color: #ab9d9d;
}

