<section class="navigation">
    <div class="nav-container">

        <nav>
            
            <div class="nav-screen-full">
                <ul class="nav-list">
                    <li *ngFor="let item of itemsNav">
                        <img src="./../../../assets/images/login/01.PNG" alt="" *ngIf="item.img != null">
                        <a href="#!"> {{item.nameItem}}</a>
                    </li>
                </ul>
                <div>
                    <span class="log-label">Log in</span>
                </div>
            </div>
        </nav>
    </div>
</section>