<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="head-page text-start">
        <h2>iphone</h2>
    </div>
    <div class="dir-page text-start my-5">
        <span>Home /</span><span> Products /</span><span> Smart Phones /</span><span class="active-dir"> iphone</span>
    </div>
    <div class="wrapper d-flex justify-content-start flex-wrap">
        <div class="said-menu">
            <div class="said-menu-content">
                <p style="font-weight: bolder;margin-left: 15px;">Products</p>
                <ul style=" list-style-type: none;">
                    <li><input type="radio">Smartphones(9)</li>
                    <li><input type="radio">Laptops(12)</li>
                    <li><input type="radio">Fragrances(8)</li>
                    <li><input type="radio">Skincare(16)</li>
                    <li><input type="radio">Groceries(12)</li>
                    <li><input type="radio">Home decoration(4)</li>
                    <li><input type="radio">Furniture(4)</li>
                    <li><input type="radio">Tops (42)</li>
                    <li><input type="radio">Women's shoes(12)</li>
                    <li><input type="radio">Men's shirts(2)</li>
                    <li><input type="radio">Women's watches(15)</li>
                    <li><input type="radio">Women's bags(9)</li>
                    <li><input type="radio">Women's jewellery(5)</li>
                    <li><input type="radio">Sunglasses(13)</li>
                    <li><input type="radio">Automotive(6)</li>
                    <li><input type="radio">Motorcycle(14)</li>
                    <li><input type="radio">Lighting(0)</li>
                </ul>
            </div>

        </div>
        <div class="all-items d-flex justify-content-start flex-wrap">
            <div class="items" *ngFor="let view of products">
                <div class="card">
                    <figure>
                        <img src="{{view.thumbnail}}" alt="Trulli" style="width:100%">
                        <span class="discount">
                            -12.96%
                        </span>
                        <h3>{{view.title}}</h3>
                        <figcaption>{{view.description}}</figcaption>
                        <div class="my-3">
                            <span class="old-price"><strong>549</strong> USD</span><span><strong>477.85</strong>USD</span>
                        </div>
                        <div class="my-3">
                            <span>Brand :<strong>Apple</strong></span>
                        </div>
                        <div class="my-3">
                            <span>Category :<strong>Smartphones</strong></span>
                        </div >
                        <div class="my-3">
                            <span>In stock :<strong>{{view.stock}}</strong></span>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-info w-100">ADD TO CART</button>
                        </div>
                    </figure>
                </div>
            </div>
            <!-- <div class="items">
                <div class="card">
                    <figure>
                        <img src="./../../../assets/images/orders/iphone.png" alt="Trulli" style="width:100%">
                        <span class="discount">
                            -12.96%
                        </span>
                        <h3>iphone 11</h3>
                        <figcaption>An apple mobile whiche is nothing like apple</figcaption>
                        <div class="my-3">
                            <span class="old-price"><strong>549</strong> USD</span><span><strong>477.85</strong>USD</span>
                        </div>
                        <div class="my-3">
                            <span>Brand :<strong>Apple</strong></span>
                        </div>
                        <div class="my-3">
                            <span>Category :<strong>Smartphones</strong></span>
                        </div >
                        <div class="my-3">
                            <span>In stock :<strong>94</strong></span>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-info w-100">ADD TO CART</button>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="items">
                <div class="card">
                    <figure>
                        <img src="./../../../assets/images/orders/iphone.png" alt="Trulli" style="width:100%">
                        <span class="discount">
                            -12.96%
                        </span>
                        <h3>iphone 11</h3>
                        <figcaption>An apple mobile whiche is nothing like apple</figcaption>
                        <div class="my-3">
                            <span class="old-price"><strong>549</strong> USD</span><span><strong>477.85</strong>USD</span>
                        </div>
                        <div class="my-3">
                            <span>Brand :<strong>Apple</strong></span>
                        </div>
                        <div class="my-3">
                            <span>Category :<strong>Smartphones</strong></span>
                        </div >
                        <div class="my-3">
                            <span>In stock :<strong>94</strong></span>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-info w-100">ADD TO CART</button>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="items">
                <div class="card">
                    <figure>
                        <img src="./../../../assets/images/orders/iphone.png" alt="Trulli" style="width:100%">
                        <span class="discount">
                            -12.96%
                        </span>
                        <h3>iphone 11</h3>
                        <figcaption>An apple mobile whiche is nothing like apple</figcaption>
                        <div class="my-3">
                            <span class="old-price"><strong>549</strong> USD</span><span><strong>477.85</strong>USD</span>
                        </div>
                        <div class="my-3">
                            <span>Brand :<strong>Apple</strong></span>
                        </div>
                        <div class="my-3">
                            <span>Category :<strong>Smartphones</strong></span>
                        </div >
                        <div class="my-3">
                            <span>In stock :<strong>94</strong></span>
                        </div>
                        <div class="my-3">
                            <button class="btn btn-info w-100">ADD TO CART</button>
                        </div>
                    </figure>
                </div>
            </div> -->
          
           
            
        </div>
    </div>

</div>
<!-- <app-footer></app-footer> -->