.container {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.said-menu {
  width: 25%;
  margin: 0;
}
.said-menu-content {
  border: 1px solid #6e6e6e;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  
}
.all-items {
  width: 75%;
}
.items {
  width: 33.3333333%;
  margin: 0;
  box-sizing: border-box;
 padding: 0 10px;
}
.card {
  margin-bottom: 20px;
  border: 1px solid #6e6e6e;
  border-radius: 10px;
}

.dir-page span {
  color: #6e6e6e;
}

.active-dir {
  color: black !important;
}

figure {
  position: relative;
  margin: 0 5px;
  padding: 5px;
}

figure .discount {
  background-color: #0dcaf0;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
figcaption {
  margin: 10px 0;
  color: #6e6e6e;
}

.old-price {
  text-decoration: line-through;
  margin-right: 20px;
}
strong {
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 480px) {

  .bg-danger {
    background-color: green;
  }


}