<div class="container">


    <div class="wrapper">
        <div class="item1">
            <p style="font-weight: bolder;">Products</p>
            <ul style=" list-style-type: none;">
                <li ><input type="checkbox">Smartphones(9)</li>
                <li ><input type="checkbox">Laptops(12)</li>
                <li ><input type="checkbox">Fragrances(8)</li>
                <li ><input type="checkbox">Skincare(16)</li>
                <li ><input type="checkbox">Groceries(12)</li>
                <li ><input type="checkbox">Home decoration(4)</li>
                <li ><input type="checkbox">Furniture(4)</li>
                <li ><input type="checkbox">Tops (42)</li>
                <li ><input type="checkbox">Women's shoes(12)</li>
                <li ><input type="checkbox">Men's shirts(2)</li>
                <li ><input type="checkbox">Women's watches(15)</li>
                <li ><input type="checkbox">Women's bags(9)</li>
                <li ><input type="checkbox">Women's jewellery(5)</li>
                <li ><input type="checkbox">Sunglasses(13)</li>
                <li ><input type="checkbox">Automotive(6)</li>
                <li ><input type="checkbox">Motorcycle(14)</li>
                <li ><input type="checkbox">Lighting(0)</li>
            </ul>

        </div>
        <div class="item2 bg-danger">I am placed from col-start line 7 spanning 3 lines

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic quisquam expedita quae velit? Quas sed, iusto corporis incidunt voluptatem obcaecati officiis delectus est nam nemo dolore maiores. Consequuntur, repudiandae et.
        </div>
      </div>

</div>
<app-footer></app-footer>