.container{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(12,  4fr);
  }
.item1 {
    grid-column: col-start / col-start 4;
    padding: 4px;
    border-radius: 20px;
    border: 0.1px solid grey;
    margin-right: 4px;
  }
.item2 {
    grid-column: col-start 8  ;
    padding: 4px;
  }
.bg-danger{
    background-color:red;
}
@media screen and (max-width: 480px) {
    
 .bg-danger{
    background-color: green;
 }


  }

