.container {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}



.item1 {
  padding: 4px;
  border-radius: 20px;
  border: 0.1px solid grey;
  margin-right: 4px;
}

.item2 {
  padding: 4px;
}

.dir-page span {
  color: #6e6e6e;
}

.active-dir {
  color: black !important;
}

@media screen and (max-width: 480px) {

  .bg-danger {
    background-color: green;
  }


}